<div class="container">
    <div id="privacy" class="row" style="padding-top: 155px; padding-bottom: 35px">
      <div class="col-xl-10">
Brainchild of Vishal Nawjeet Dhar, Washbuddiez started cleaning up 
                    people's mess in 2019. Started with the vision of being the premier 
                    partner of cleaning up people's mess.. As the name suggests. 
                    We are your 3am friend when it comes to cleaning and washing your stuff, 
                    be it garments of any kind, to your shoes that can be polished and repaired 
                    and goes upto cleaning and polishing your vehicles at your doorstep. 
                    To make YOU look good when you get out of home.<br>
                    Washbuddiez offers convenient and hassle free way of getting your wash, 
                    laundry and dry cleaning done in Keonjhar,<br><br>
                    
                    Washbuddiez picks up dirty duds from doorstep, get it processed quickly 
                    and deliver the packaged garments back to your house within 48 hours.<br><br>
                    
                    Washbuddiez uses soft and hygienic detergents, fabric softeners, imported 
                    chemicals and offer add-ons such as antiseptic wash, conditioner, oxy-bleach etc.
                    Be it your white clothes or your denim or ur curtains or carpet. 
                    Every garment is segregated and separated according to their type so 
                    that the quality of each cloth remains intact.<br><br>
                    
                    Washbuddiez has a simple but clear purpose – to make the 
                    customers and clothes happy. We believe this is the best long-term 
                    way for our business to grow.<br><br>
                    
                    CONNECT WITH US<br><br>
                    
                    We're always looking to connect with those who share an interest in a 
                    sustainable future.
                    </div>
                  </div>
                </div>          