.example-card {
  max-width: 250px;
  padding: 30px;
}
.mat-card-actions>input{
    width:60px; 
    border-radius: 4px; 
    text-align: center; 
    border: 1px solid #ff4500;
    line-height: 32px;
    padding-left: 15px;
}
