<div class="container">
    <div id="privacy" class="row" style="padding-top: 155px; padding-bottom: 35px">
      <div class="col-xl-10">
    <p class="p-company-legal">Wash Buddiez (hereinafter "Company") services are provided subject to your ("Customer") compliance and acceptance with the terms and conditions set forth below.</p>
    <p class="p-company-legal">Please read the following agreement carefully. "Customer" use of any of Company's services indicates an agreement to be bound by the terms and conditions set forth below.</p>
    <p class="p-company-legal">Items which are given to "Company" for cleaning / repairing will be termed as article(s) in this agreement.</p>
    <p class="p-company-legal">This agreement is strictly between Company and the Customer and does not in any way constitute or imply any relationship with any other parties. As a condition to using any of Company's services, and for the mutual benefit of both Company and the Customer, the undersigned ("Customer") agrees to the following terms and conditions:</p>
    <ul>
    <li class="li-class-font">1. All garments/linen/fabrics are handled with greatest care but owing to the conditions of the articles or non apparent/non-visible defects in its material there is a POSSIBILITY OF DISCOLOURING OR SHRINKAGE. Such garments are accepted for cleaning at OWNER'S RISK and company will not accept any responsibility for it. </li>
    <li class="li-class-font">2. Company will use reasonable efforts to try to ensure that washing, drying and folding services are maintained at a high level of quality.</li>
    <li class="li-class-font">3. Company due to time constraints does not read manufacturer suggested care and washing / drying labels, and will not responsible for garments labeled "hand wash only" or "dry clean only"</li>
    <li class="li-class-font">4. Company accepts no liability for "special care" and delicate items that require special attention to be cleaned.</li>
    <li class="li-class-font">5. Company is not responsible for any article which is left beyond 30 days. After this storage fees will be charged @12% per month on the total invoice amount. Article not claimed within three months shall be handled appropriately by Company and be sold to recover the billed charges.</li>
    <li class="li-class-font">6. Company reserves the right to refuse cleaning any garment.</li>
    <li class="li-class-font">7. Removal of stain is a part of the process but, complete removal of stains can not be guaranteed and will be processed at customer's risk.</li>
    <li class="li-class-font">8. Company is not responsible for loss of or damage to any personal or non-cleanable items left in the article such as money, jewelry, or anything else.</li>
    <li class="li-class-font">9. If customer cannot accept the loss of any garment, please do not leave it with us.</li>
    <li class="li-class-font">10. In case of any loss or damage Company can reimburse up to a maximum of 5 times of its processing (laundry / dryclean) cost (decision remains with Company if any reimbursement has to be done) only if Customer is able to produce the bills. Compensation shall be provided in form of services and no cash will be given to customer.</li>
    <li class="li-class-font">11. Customers are requested to count the articles at the time of delivery and inform the delivery man in case of missing articles. Company will not be responsible for any such claims after the articles delivery has been accepted and signed by the customer.</li>
    <li class="li-class-font">12. Customer gives a warranty of maximum upto 7 days from the date of delivery for the articles for any quality related issues with washing or dry-cleaning of articles (only if the article has not been used by the customer after service). Any claim after the stipulated time shall not be entertained.</li>
    <li class="li-class-font">13. Customer might get regular updates (Calls / SMS / Email / App Notification) from Company of transactional and marketing in nature, if customer wants to stop it then Customer has to register a request with Customer Care Department of Company.</li>
    <li class="li-class-font">14. Company shall not be held responsible for any ornaments/ jewellery fittings on the garment.</li>
    <li class="li-class-font">15. Customer shall examine articles for damage at the time of delivery, and notify the same at that time. Company shall not be responsible for any claims afterwards.</li>
    <li class="li-class-font">16. Any loss/damage/delay due to FORCE MAJEURE conditions, Company is not liable for any compensation or reduction in charges.
    </li><li class="li-class-font">17. We accept no liability for any loss or damage of the articles arising due to fire, burglary etc. beyond conduct or any other similar unforseen causes.</li>
    <li class="li-class-font">18. Some process/items may require additional period to process. No deduction on billed amount or claim can be initiated against in respect of delays.</li>
    <li class="li-class-font">19. Tariff for designer wear will be decided on a case to case to case basis depending on the complexity of garment, the same shall be communicated to customer after it is examined by the expert at the processing center. </li>
    </ul>
    <br>
    <p id="payment-policy">Payment Terms:</p>
    <ul>
    <li class="li-class-font">1. Company provides printed bills, and invoices will be sent by e-mail only on registered email id or delivered to customers manually.</li>
    <li class="li-class-font">2. Customer will be charged twice the amount of regular order for any express delivery.</li>
    <li class="li-class-font">3. Customer has to pay the entire amount after successful delivery of order.</li>
    <li class="li-class-font">4. For retail orders, customer has to pay by cash only, we accept debit or credit cards as well, but for that customer has to inform us beforehand.</li>
    <li class="li-class-font">5. Customer can buy a prepaid plan for which amount can be paid by cash or cheque. In case customer choose to pay by cheque, plan will only be effective after realization of cheque.</li>
    <li class="li-class-font">6. Tax will be charged over and above the rates mentioned in the website.</li>
    <li class="li-class-font">7. Prepaid plans are valid only at the location where the customer was at the time of buying the prepaid plan.</li>
    </ul>
    <br>
    <p id="cancellation-policy">Cancellation / Refund Policy:</p>
    <ul>
    <li class="li-class-font">1. Any extra amount paid by customer for retail order can be refunded by the company if customer ask.</li>
    <li class="li-class-font">2. Balance available in "Prepaid" plans are non-refundable and can not be transferred to any other customer.</li>
    <li class="li-class-font">3. User can cancel at any time before actual pick-up. No cancellation charges will be levied</li>
    <li class="li-class-font">4. In case company deny to process any article because of any reason, the order amount for that article will be refunded to retail customer or will be added to prepaid balance for prepaid plan customer.</li>
    <li class="li-class-font">5. If customer wants to cancel the order because of any reason, then the request for cancellation has to be placed within 2 hr of pickup of articles.</li>
    <li class="li-class-font">6. Once order is punched and processed, order can't be cancelled.</li>
    </ul>
    <br>
    <p id="cancellation-policy">Coupons &amp; Discounts:</p>
    <ul>
    <li class="li-class-font">1. Coupon can only be applied by customer using Wash Buddiez website.</li>
    <li class="li-class-font">2. Once order placed and invoice is generated coupon can't be applied.</li>
    </ul>
    <br>
    <p href="#privacy-policy" id="privacy-policy">Privacy Policy:</p>
    <ul>
    <li class="li-class-font">1. Company never sell your personal information like phone number, address or email id with any third party.</li>
    <li class="li-class-font">2. Company may hire other companies to provide limited administrative and communication services on companies behalf, such as hosting sites, the processing and delivery of mailings, providing customer support, or providing credit card processing services. Company has the right to disclose your Personal Information to these third party companies for the purpose of administering and maintaining the Site and App's features, functions and operations. Those companies will be permitted to obtain only such Personal Information as necessary for them to deliver the respective services, and we do not authorize these companies to use your Personal Information except for the sole purpose of providing those services requested by us.</li>
    </ul>
    <br>
    <p id="privacy-policy">Links To Other Sites:</p>
    <ul>
    <li class="li-class-font">1. Company doesn't hold any liability on account of damages occurred of any kind from the content published on our website.</li>
    </ul>
    <br>
    <p id="privacy-policy">Distribution of Information:</p>
    <ul>
    <li class="li-class-font">1. The content of this website is an intellectual property of Company . Any distribution whatsoever will not be tolerated and shall be punishable by law.</li>
    </ul>
    <br>
    <p id="privacy-policy">Prohibited Uses of Site:</p>
    <ul>
    <li class="li-class-font">1. Impersonating or imitating as some one else shall be liable for legal action accordingly.</li>
    </ul>
    <br>
    <p id="privacy-policy">Content Permission &amp; Restrictions:</p>
    <ul>
    <li class="li-class-font">1. Any imitation or distribution of content on this website for any purpose shall be treated as infringement and shall be punishable by law. Publishing of any third party content is prohibited and shall be liable for legal action.</li>
    </ul>
    <br>
    <p id="privacy-policy">Changes To the Agreement:</p>
    <ul>
    <li class="li-class-font">1. The above mentioned information is liable to change at any time without any prior notice. Company shall not be liable for any loss incurred.</li>
    </ul>
    <br>
    <p>All disputes are subject to jurisdiction of courts located in Keonjhar, Odisha</p>
    <p>For any complaint / query please contact us at Washbuddiez@gmail.com</p>
    
    </div>
  </div>
</div>