<div>
    <div class="container-fluid">
        <div class="row" style="padding-top:12%;background-color:#390099;padding-bottom:6%">
            <div class="col-xl-6 bigText">
                <h1>
                    <div style="text-align:center">
                        <strong>The BFF</strong>
                    </div>
                    <div id="midText">
                        <i>of your</i>
                    </div>
                    <div style="text-align:center">
                        <strong>Laundry</strong>
                    </div>
                </h1>
            </div>
            <div class="col-xl-6" style="text-align:center"><img src="assets/img/washing-machine.svg" width="60%"></div>
        </div>
    </div>
    <div>
        <h2 style="text-align:center;color:#FF4500">PRICING</h2>
        <div>
            <app-pricing-home></app-pricing-home>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #390099; margin-top: -60px">
        <h2 style="text-align:center;color:#FF4500; padding-top: 25px; padding-bottom: 25px">HOW IT WORKS</h2>
        <div class="row" style="padding-bottom:50px">
            <div class="col-xl-3" style="text-align:center">
                <img src="assets/img/online-order.svg" width="150px"><br><br>
                <div class="btn-circle">1</div><br>
                <h5 style="color:#FF4500;font-weight: bold;">Schedule a pick up via website or call centre at a time of
                    your convenience</h5>
            </div>
            <div class="col-xl-3" style="text-align:center">
                <img src="assets/img/pickup-man.svg" width="150px"><br><br>
                <div class="btn-circle">2</div><br>
                <h5 style="color:#FF4500;font-weight: bold;">Hand over the garments to our pick up staff and collect a
                    copy of the acknowledgement slip</h5>
            </div>
            <div class="col-xl-3" style="text-align:center">
                <img src="assets/img/laundry.svg" width="150px"><br><br>
                <div class="btn-circle">3</div><br>
                <h5 style="color:#FF4500;font-weight: bold;">We receive your laundry in our washing hubs and email/SMS
                    you the invoice copy</h5>
            </div>
            <div class="col-xl-3" style="text-align:center">
                <img src="assets/img/delivery-man.svg" width="150px"><br><br>
                <div class="btn-circle">4</div><br>
                <h5 style="color:#FF4500;font-weight: bold;">You receive clean and fresh laundry delivered at your
                    doorstep</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h2 style="text-align:center;color:#FF4500; padding-bottom: 25px">OUR SERVICES</h2>
        <div class="row" style="padding-bottom:3%">
            <div class="col-xl-2 offset-xl-1" style="text-align:center">
                <img src="assets/img/fashion.svg" width="150px" style="margin:auto"><br><br>
                <h5 style="color:#FF4500;font-weight: bold;text-align: center">Laundry</h5>
            </div>
            <div class="col-xl-2" style="text-align:center">
                <img src="assets/img/suit.svg" width="150px" style="margin:auto"><br><br>
                <h5 style="color:#FF4500;font-weight: bold;text-align: center">Dry Cleaning</h5>
            </div>
            <div class="col-xl-2" style="text-align:center">
                <img src="assets/img/sofa.svg" width="150px" style="margin:auto"><br><br>
                <h5 style="color:#FF4500;font-weight: bold;text-align: center">Sofa Cleaning and Repair</h5>
            </div>
            <div class="col-xl-2" style="text-align:center">
                <img src="assets/img/carpet.svg" width="150px" style="margin:auto"><br><br>
                <h5 style="color:#FF4500;font-weight: bold;text-align: center">Carpet Cleaning</h5>
            </div>
            <div class="col-xl-2" style="text-align:center">
                <img src="assets/img/sneaker.svg" width="150px" style="margin:auto"><br><br>
                <h5 style="color:#FF4500;font-weight: bold;text-align: center">Shoe Polish and Repair</h5>
            </div>
        </div>
    </div>
</div>