@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@media only screen and (max-width: 1199px){
    // #midText{
    //     text-align: center
    // }

    .btn-circle {
        background-color: #ff4500;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px;
        color: #E9E2DC;
        border-radius: 20px;
        font-weight: bold;
        margin: auto;
        vertical-align: center;
      }

      .bigText{
        padding-bottom:3%;
        padding-top:73px;
        color:#FF4500;
        font-size:150%
      }
}

@media only screen and (min-width: 1200px){
    // #midText{
    //     text-align: right
    // }

    .btn-circle {
        background-color: #ff4500;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 5.5px;
        color: #E9E2DC;
        border-radius: 20px;
        font-weight: bold;
        margin: auto;
        vertical-align: center;
      }

      .bigText{
        padding-bottom:3%;
        padding-top:18.948px;
        color:#FF4500;
        font-size:150%
      }
}

