@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@media only screen and (max-width: 1199px){
    #midText{
        text-align: center
    }
}

@media only screen and (min-width: 1200px){
    #midText{
        text-align: right
    }
}