<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <h4>Contact Us</h4>
                <ul>
                    <li><i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;Keonjhar</li>
                    <li><i class="fas fa-phone"></i>&nbsp;&nbsp;8763491528</li>
                    <li><i class="fas fa-envelope"></i>&nbsp;&nbsp;mail@washbuddiez.com</li>
                </ul>
            </div>
            <div class="col-xl-4">
                <h4>Company</h4>
                <ul>
                    <li><a href="" style="color:#ff4500"><i class="fas fa-info"></i>&nbsp;&nbsp;Terms & Conditions</a></li>
                    <li><a href="" style="color:#ff4500"><i class="fas fa-lock"></i>&nbsp;&nbsp;Privacy</a></li>
                </ul>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    Copyright © {{testdate | date: 'yyyy'}} Washbuddiez
                </span>
            </div>
        </div>
    </div>
</footer>