<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <h4>Contact Us</h4>
                <ul>
                    <li><i class="fas fa-map-marked-alt"></i>
                        &nbsp;&nbsp;At- Bhalukipatala, Infront of DAV Public School,
                        PO- Keonjhar, PS- Town, Dist- Keonjhar, Pin- 758001</li>
                    <li><i class="fas fa-phone"></i>&nbsp;&nbsp;+91-7064666333</li>
                    <li><i class="fas fa-envelope"></i>&nbsp;&nbsp;Washbuddiez@gmail.com</li>
                </ul>
            </div>
            <div class="col-xl-4">
                <h4>Company</h4>
                <ul>
                    <li><a [routerLink]="['/termsAndConditions']" style="color:#ff4500"><i class="fas fa-info"></i>&nbsp;&nbsp;Terms and Conditions</a></li>
                    <li><a [routerLink]="['/privacy']" style="color:#ff4500"><i class="fas fa-lock"></i>&nbsp;&nbsp;Privacy</a></li>
                    <li><a [routerLink]="['/aboutUs']" style="color:#ff4500"><i class="fas fa-user"></i>&nbsp;&nbsp;About Us</a></li>
                </ul>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    Copyright © {{testdate | date: 'yyyy'}} Washbuddiez
                </span>
            </div>
        </div>
    </div>
</footer>